{% extends 'layouts/base.html.twig' %}

{% block title %}Edit pin #{{ pin.id }} {% endblock %}

{% block body %}

    <div class="row">
        <div class="mx-auto col-md-6">
            <h1>Edit pin</h1>

            {{ include('pins/_form.html.twig', {submitButtonText: 'Update pin'}) }}

        </div>
    </div>

{% endblock %}
