<footer class="container text-center  mt-5">
    <p class="text-muted">
        <small class="">
            &copy; {{ 'now'|date('Y') }} &middot;
            Built with <span class="text-danger">&hearts;</span> by TDN
        </small>
   </p>
</footer>